<% include partials/header %>

<h1>This is campgrounds page!</h1>

<% campgrounds.forEach(function(campground) { %>
	<div>
		<h4><%= campground.name %></h4>
		<img src="<%= campground.image %>" alt="camp photo"/>
	</div>

<% }) %>

<% include partials/footer %>