<h1>Secret Page!</h1>

<p>You found me!</p>

<img src="https://images.pexels.com/photos/1882/bricks-wall-garden-door.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="secret">

<li><a href="/register">Sign up!</li>
<li><a href="/login">Log in!</li>
<li><a href="/logout">Log out!</li>