<h1>Friends Page!!</h1>

<% friends.forEach(function(friend) { %>
	<li><%= friend %></li>	
<%})%>


<form action="/addfriend" method="post">
	<input type="text" name="newfriend" placeholder="name">
	<input type="submit" value="i have a new friend">
</form>

